@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');

.pixel-btn{
    display: inline-block;
    align-items: center;
    justify-content: center;
    
    position: relative;
    text-transform: uppercase;
    
    min-width: 120px;
    
    height: 28px;
    padding: 0 12px;

    padding: 10px 20px;
    
    cursor: pointer;
    user-select: none;

    font-family: 'Press Start 2P', monospace;
    font-size: 8px;
    color: #fff;
    text-shadow: 1px 1px 0px #000;
    
    background: linear-gradient(
        to bottom,
        #5a5a5a 0%,
        #4a4a4a 12%,
        #353535 50%,
        #2b2b2b 55%,
        #212121 100%
    );

    box-shadow: 
        0 0 0 4px #000
        inset 0 1px 0 0 #7e6e58,
        inset 1px 0 0 0 #7e6e58, 
    ;

    border: none;



    margin: 4px;
    transition: all 0.1s ease;
}

.pixel-btn::after{
    content: '';
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow:
        inset -4px 0 0 0 #0066cc, /* Sombra interna direita */
        inset 0 -4px 0 0 #0066cc, /* Sombra interna inferior */
        inset 4px 0 0 0 #99ccff,  /* Luz interna esquerda */
        inset 0 4px 0 0 #99ccff;  /* Luz interna superior */
    pointer-events: none;
}

.pixel-btn:hover{
    background-color: #0066cc;
}

.pixel-btn:active{
    transform: translate(0, 4px);

    box-shadow: var(--pixel-border-active-success)
}