.daily-card{
    display: flex;
    flex-direction: column;

    width: 320px;
    width: 100%;

    gap: 20px;
    
    font-family: var(--font-card);
    
    color: black;
    margin-left: 5px;
    border: 0;

    box-shadow:  var(--pixel-border);
    background: var(--pixel-bg-card);

    padding: 10px;
}