.dashboard-main{
    display: flex;
    justify-content: center;
    align-items: center;

    height: 100vh;

    flex-direction: column;
}

.menu {
    display: grid;
    grid-template-columns: 1fr 2fr 1fr;
    
    max-width: 1200px;
    width: 100%;
    
    gap: 10px;
}

