.return-list{
    border: 0;
    box-shadow: var(--pixel-border);

    padding: 20px;

    display: flex;
    justify-content: center;
    align-items: center;

    font-family: var(--font-card);

    margin-bottom: 10px;

}