.player-card{
    width: 100%;

    background: transparent;
    border: var(--border-default);

    border-radius: var(--radius-default);

    padding: 20px;
    margin-bottom: 20px;

    display: flex;
    flex-direction: column;
    
    justify-content: center;
    align-items: center;

    text-align: center;
    
}