.card-profile{
    display: grid;
    grid-template-columns: 1fr;

    width: 200px;
    gap: 20px;

    margin: 0  35px 0 0;
}



.player-card{
    width: 100%;
    
    font-family: var(--font-card);
    
    color: black;

    border: 0;

    box-shadow:  var(--pixel-border);
    background: var(--pixel-bg-card);

    padding: 10px;

}

.skills-container{
    font-family: var(--font-card);
    color: black;


    background: var(--pixel-bg-card);
    border: 0;
    box-shadow: var(--pixel-border);
    

    padding: 10px;

}

.skill-block{
    font-size: 12px;
    padding: 15px 5px 15px 5px;
    margin: 10px 5px 20px 5px;

    border: 0;
    box-shadow: var(--pixel-border);
}

.sub-skills{
    margin-left: 15px;
    font-size: 12px;
}

.sub-skill{
    margin-top: 8px;
}