.card-profile{
    display: flex;
    flex-direction: column;

    width: 320px;
    gap: 20px;

    margin-right: 5px;

}

.player-card{
    width: 100%;
    
    font-family: var(--font-card);
    
    color: black;

    border: 0;

    box-shadow:  var(--pixel-border);
    background: var(--pixel-bg-card);

    padding: 10px;

}

.skills-container{
    font-family: var(--font-card);
    color: black;


    background: var(--pixel-bg-card);
    border: 0;
    box-shadow: var(--pixel-border);
    

    padding: 15px;

}

.skill-block{
    font-size: 12px;
    padding: 10px;
    margin-bottom: 15px;

    border: 0;
    box-shadow: var(--pixel-border);
    background: var(--pixel-bg-card-dark);

    cursor: pointer;
    transition: .3s;
}

.skill-block:hover{
    transform: translateY(-2px);
}


.sub-skills{
    margin-left: 15px;
    font-size: 12px;
}

.sub-skill{
    margin-top: 10px;

    padding: 5px 5px 5px 8px;

    border-left: 3px solid #212123;
}