.task-card{

    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

    width: 100%;

    margin: 10px 0px;
    color: var(--text-primary);

    border: 0;
    box-shadow: var(--pixel-border);

    font-family: var(--font-card);

    padding: 20px;
    gap: 10px;
    
    color: black;

    .btn-success{

        font-family: var(--font-card);

        display: flex;
        justify-content: center;
        align-items: center;
        margin: 20px;

        width: 60%;
        height: 3rem;
        
        background-color: var(--btn-default);

        outline: none;

        padding: 10px;

        border: 0;
        box-shadow: var(--pixel-border);

        position: relative;
        cursor: pointer;
        transition: .5s ease-in-out;
        z-index: 99;
    }

    .btn-success:hover{
        color: white;
        background-color: var(--hover-effect-light);
    }

    .btn-success::before{

        content: '';
        position: absolute;
            
        top: 0px;
        left: 0;

        width: 0;
        height: 3rem;
            
        display: inline-block;

        transition: .3s ease-in-out;
        z-index: -1;
        box-shadow: var(--pixel-border);
    }
        
    .btn-success:hover::before{
        color: white;
        width: 100%;
        background-color: var(--btn-success);
        box-shadow: var(--pixel-border-hover);
    }

    .btn-success:active{
        
        transform: translate(0, 8px);

        box-shadow:var(--pixel-border-active-success) 
    
    }

    .btn-delete{
        
        font-family: var(--font-card);

        display: flex;
        justify-content: center;
        align-items: center;

        width: 60%;
        height: 3rem;
        
        background-color: var(--btn-default);

        outline: none;

        padding: 10px;

        border: 0;
        box-shadow: var(--pixel-border);

        position: relative;
        cursor: pointer;
        transition: .5s ease-in-out;
        z-index: 99;
    }

    .btn-delete:hover{
        color: white;
        background-color: var(--hover-effect-danger);
    }

    .btn-delete::before{
        content: '';
        position: absolute;
            
        top: 0px;
        left: 0;

        width: 0;
        height: 3rem;
            
        display: inline-block;

        transition: .3s ease-in-out;
        z-index: -1;
        box-shadow: var(--pixel-border);
    }

    .btn-delete:hover::before{
        color: black;
        width: 100%;
        background-color: var(--btn-danger);
        box-shadow: var(--pixel-border-danger-hover);
    }

    .btn-delete:active{
        
        transform: translate(0, 8px);

        box-shadow:var(--pixel-border-active-success) 
    
    }
}